apiVersion: "apps/v1"
kind: Deployment
metadata:
  name: synergychat-crawler
  namespace: synergychat 
  labels: 
    app: synergychat-crawler
spec:
  replicas: 1
  selector:
    matchLabels: 
      app:  synergychat-crawler
  template:
    metadata:
      labels:
        app: synergychat-crawler
    spec: 
      containers:
      - name: synergychat-crawler-1
        image: bootdotdev/synergychat-crawler:latest
        env:
        - name: CRAWLER_KEYWORDS
          valueFrom:
            configMapKeyRef:
              name: synergychat-crawler-configmap
              key: CRAWLER_KEYWORDS
        - name: CRAWLER_DB_PATH
          valueFrom:
            configMapKeyRef:
              name: synergychat-crawler-configmap
              key: CRAWLER_DB_PATH    
        - name: CRAWLER_PORT
          valueFrom:
            configMapKeyRef:
              name: synergychat-crawler-configmap
              key: CRAWLER_PORT    
        volumeMounts:
        - name: cache-volume
          mountPath: /cache
        resources: 
          requests:
            cpu: "100m"
            memory: "256Mi"
          limits:
            cpu: "200m"
            memory: "512Mi"
      - name: synergychat-crawler-2
        image: bootdotdev/synergychat-crawler:latest
        env:
        - name: CRAWLER_KEYWORDS
          valueFrom:
            configMapKeyRef:
              name: synergychat-crawler-configmap
              key: CRAWLER_KEYWORDS
        - name: CRAWLER_DB_PATH
          valueFrom:
            configMapKeyRef:
              name: synergychat-crawler-configmap
              key: CRAWLER_DB_PATH    
        - name: CRAWLER_PORT
          valueFrom:
            configMapKeyRef:
              name: synergychat-crawler-configmap
              key: CRAWLER_PORT_2    
        volumeMounts:
        - name: cache-volume
          mountPath: /cache
        resources: 
          requests:
            cpu: "100m"
            memory: "256Mi"
          limits:
            cpu: "200m"
            memory: "512Mi"
      volumes: 
      - name: cache-volume
        emptyDir: {}

